*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

:root {
  --background-color: #2f2f2f;
  --main-color: #a9e5bb;
  --main-color-light: #d0f1d9;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--background-color);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  color: var(--main-color);
}

div {
  color: var(--main-color);
}

#root,
#__next {
  isolation: isolate;
}

main {
  min-height: 100vh; /* minimum height = screen height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 500px;
  margin-inline: auto;
}

h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
}

main p {
  font-size: 1.5rem;
  margin-bottom: 4rem;
}

#gameboard {
  flex: 0 1 480px;
  display: grid;
  gap: 5px;
  background-color: var(--main-color);
  background-color: var(--main-color-light);
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.cell {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
}

.cell:hover {
  background-color: #d0f1d9;
  cursor: pointer;
}

.cell.marked {
  pointer-events: none;
  /* color: red; */
}
